# Default owners — auto-requested as reviewers on every PR.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-policies/about-code-owners
*   @filipkoukal @michal-vlcek @VaclavMiculka
